{% extends 'core/base.html' %}
{% load static %}

{% block title %}FilmScoper - Películas de Acción{% endblock %}

{% block content %}
<header>
    <div class="filmscoper-icon">
        <img src="{% static 'core/img/icons/filmscoperlogo.svg' %}" alt="FilmScoper Logo">
    </div>
    <h1>Películas de Acción</h1>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=skyfall">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/accion/007-skyfall.webp' %}" alt="007 Skyfall">
                    </figure>
                    <div class="info-overlay">
                        <h3>007: Skyfall</h3>
                        <div class="year">2012</div>
                        <div class="genre">Acción</div>
                        <div class="rating">⭐ 7.8/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=gladiador">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/accion/gladiador.webp' %}" alt="Gladiador">
                    </figure>
                    <div class="info-overlay">
                        <h3>Gladiador</h3>
                        <div class="year">2000</div>
                        <div class="genre">Acción</div>
                        <div class="rating">⭐ 8.5/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=el-caballero-oscuro">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/accion/el-caballero-oscuro.webp' %}" alt="El Caballero Oscuro">
                    </figure>
                    <div class="info-overlay">
                        <h3>El Caballero Oscuro</h3>
                        <div class="year">2008</div>
                        <div class="genre">Acción</div>
                        <div class="rating">⭐ 9.0/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=mad-max">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/accion/mad-max.webp' %}" alt="Mad Max: Fury Road">
                    </figure>
                    <div class="info-overlay">
                        <h3>Mad Max: Fury Road</h3>
                        <div class="year">2015</div>
                        <div class="genre">Acción</div>
                        <div class="rating">⭐ 8.1/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=vengadores-endgame">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/accion/vengadores-endgame.webp' %}" alt="Vengadores: Endgame">
                    </figure>
                    <div class="info-overlay">
                        <h3>Vengadores: Endgame</h3>
                        <div class="year">2019</div>
                        <div class="genre">Acción</div>
                        <div class="rating">⭐ 8.4/10</div>
                    </div>
                </div>
            </a>    
        </div>
    </div>
</div>
{% endblock %}