{% extends 'core/base.html' %}
{% load static %}

{% block title %}FilmScoper - Documentales{% endblock %}

{% block content %}
<header>
    <div class="filmscoper-icon">
        <img src="{% static 'core/img/icons/filmscoperlogo.svg' %}" alt="FilmScoper Logo">
    </div>
    <h1>Documentales</h1>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=free-solo">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/documentales/free-solo.webp' %}" alt="Free Solo">
                    </figure>
                    <div class="info-overlay">
                        <h3>Free Solo</h3>
                        <div class="year">2018</div>
                        <div class="genre">Documental</div>
                        <div class="rating">⭐ 8.1/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=social-dilema">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/documentales/social-dilema.webp' %}" alt="El Dilema Social">
                    </figure>
                    <div class="info-overlay">
                        <h3>El Dilema Social</h3>
                        <div class="year">2020</div>
                        <div class="genre">Documental</div>
                        <div class="rating">⭐ 7.6/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=mi-maestro-pulpo">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/documentales/mi-maestro-pulpo.webp' %}" alt="Mi Maestro el Pulpo">
                    </figure>
                    <div class="info-overlay">
                        <h3>Mi Maestro el Pulpo</h3>
                        <div class="year">2020</div>
                        <div class="genre">Documental</div>
                        <div class="rating">⭐ 8.1/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=fahrenheit-911">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/documentales/fahrenheit-911.webp' %}" alt="Fahrenheit 9/11">
                    </figure>
                    <div class="info-overlay">
                        <h3>Fahrenheit 9/11</h3>
                        <div class="year">2004</div>
                        <div class="genre">Documental</div>
                        <div class="rating">⭐ 7.5/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=el-viaje-del-pinguino">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/documentales/el-viaje-del-pinguino.webp' %}" alt="El Viaje del Pingüino">
                    </figure>
                    <div class="info-overlay">
                        <h3>El Viaje del Pingüino</h3>
                        <div class="year">2005</div>
                        <div class="genre">Documental</div>
                        <div class="rating">⭐ 7.5/10</div>
                    </div>
                </div>
            </a>    
        </div>
    </div>
</div>
{% endblock %}