{% extends 'core/base.html' %}
{% load static %}

{% block title %}FilmScoper - Películas Románticas{% endblock %}

{% block content %}
<header>
    <div class="filmscoper-icon">
        <img src="{% static 'core/img/icons/filmscoperlogo.svg' %}" alt="FilmScoper Logo">
    </div>
    <h1>Películas Románticas</h1>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=titanic">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/romantica/titanic.webp' %}" alt="Titanic">
                    </figure>
                    <div class="info-overlay">
                        <h3>Titanic</h3>
                        <div class="year">1997</div>
                        <div class="genre">Romance</div>
                        <div class="rating">⭐ 7.9/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=lalaland">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/romantica/lalaland.webp' %}" alt="La La Land">
                    </figure>
                    <div class="info-overlay">
                        <h3>La La Land</h3>
                        <div class="year">2016</div>
                        <div class="genre">Romance</div>
                        <div class="rating">⭐ 8.0/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=eterno-resplandor">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/romantica/eterno-resplandor.webp' %}" alt="Eterno Resplandor">
                    </figure>
                    <div class="info-overlay">
                        <h3>Eterno Resplandor de una Mente sin Recuerdos</h3>
                        <div class="year">2004</div>
                        <div class="genre">Romance</div>
                        <div class="rating">⭐ 8.3/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=cuestion-de-tiempo">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/romantica/cuestion-de-tiempo.webp' %}" alt="Cuestión de Tiempo">
                    </figure>
                    <div class="info-overlay">
                        <h3>Cuestión de Tiempo</h3>
                        <div class="year">2013</div>
                        <div class="genre">Romance</div>
                        <div class="rating">⭐ 7.8/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=vanilla-sky">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/romantica/vanilla-sky.webp' %}" alt="Vanilla Sky">
                    </figure>
                    <div class="info-overlay">
                        <h3>Vanilla Sky</h3>
                        <div class="year">2001</div>
                        <div class="genre">Romance</div>
                        <div class="rating">⭐ 6.9/10</div>
                    </div>
                </div>
            </a>    
        </div>
    </div>
</div>
{% endblock %}