{% extends 'core/base.html' %}
{% load static %}

{% block title %}FilmScoper - Películas de Terror{% endblock %}

{% block content %}
<header>
    <div class="filmscoper-icon">
        <img src="{% static 'core/img/icons/filmscoperlogo.svg' %}" alt="FilmScoper Logo">
    </div>
    <h1>Películas de Terror</h1>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=babadook">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/terror/babadook.webp' %}" alt="The Babadook">
                    </figure>
                    <div class="info-overlay">
                        <h3>The Babadook</h3>
                        <div class="year">2014</div>
                        <div class="genre">Terror, Drama</div>
                        <div class="rating">⭐ 6.8/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=it-follows">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/terror/it-follows.webp' %}" alt="It Follows">
                    </figure>
                    <div class="info-overlay">
                        <h3>It Follows</h3>
                        <div class="year">2014</div>
                        <div class="genre">Terror, Thriller</div>
                        <div class="rating">⭐ 6.8/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=hereditary">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/terror/hereditary.webp' %}" alt="Hereditary">
                    </figure>
                    <div class="info-overlay">
                        <h3>Hereditary</h3>
                        <div class="year">2018</div>
                        <div class="genre">Terror, Drama, Thriller</div>
                        <div class="rating">⭐ 7.3/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=el-exorcista">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/terror/el-exorcista-cover.webp' %}" alt="El Exorcista">
                    </figure>
                    <div class="info-overlay">
                        <h3>El Exorcista</h3>
                        <div class="year">1973</div>
                        <div class="genre">Terror, Drama</div>
                        <div class="rating">⭐ 8.1/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=el-conjuro">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/terror/el-conjuro.webp' %}" alt="El Conjuro">
                    </figure>
                    <div class="info-overlay">
                        <h3>El Conjuro</h3>
                        <div class="year">2013</div>
                        <div class="genre">Terror, Thriller</div>
                        <div class="rating">⭐ 7.5/10</div>
                    </div>
                </div>
            </a>    
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
            <a href="{% url 'core:pelicula' %}?movie=pesadilla-elm-street">
                <div class="item">
                    <figure>
                        <img src="{% static 'core/img/terror/pesadilla-en-elm-street.webp' %}" alt="Pesadilla en Elm Street">
                    </figure>
                    <div class="info-overlay">
                        <h3>Pesadilla en Elm Street</h3>
                        <div class="year">1984</div>
                        <div class="genre">Terror, Thriller</div>
                        <div class="rating">⭐ 7.4/10</div>
                    </div>
                </div>
            </a>    
        </div>
    </div>
</div>
{% endblock %}